$terminal-white: rgb(244,244,244);
$terminal-green: rgb(20, 210, 118);
$terminal-black: rgb(30,30,30);
@mixin pointer(){
  content:"";
  float: right;
  display: inline-block;
  background-color: $terminal-white;
  width: 7px;
  height: 15px;
  animation: blink-animation 1s steps(2, start) infinite;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.aboutText{
  width: 50%;
  p{
    &>b{
      color: $terminal-green
    }
  }
  h2{
    margin: 1rem 0;
    color: $terminal-green;
  }
}
body{
    background-color: rgb(30,30,30);
    color: $terminal-white;
    font-family: 'Inconsolata', monospace;
    .container{
      width:90%;
      max-width: 1200px;
      margin:0 auto;
      display: flex;
      align-items: center;
      height: calc(100vh - 251px);
      &#home{
        flex-direction: column;
      }
    }
    #contacts{
      form{
        flex-grow: 1;
        &>div{
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          width: 800px;
          div{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 1rem;
            textarea{
              resize: vertical;
              height: 136px;
            }
            input,textarea{
              flex-grow: 1;
              margin-top: 0.5rem;
              border: none;
              background-color:transparent;
              color:$terminal-white;
              font-family: 'Inconsolata', monospace;
              border-bottom: 1px solid $terminal-white;
              &:focus-visible{
                outline:0;
                border-bottom: 1px solid $terminal-green;
              }
              &::-webkit-scrollbar{
                background-color: $terminal-white;
              }
              &::-webkit-scrollbar-button{
                background-color: $terminal-white;
              }
              &::-webkit-scrollbar-track{
                background-color: $terminal-black;
                border: 1px solid $terminal-green;
              }
              &::-webkit-scrollbar-track-piece{
                background-color: $terminal-black;
                border: 1px solid $terminal-green;
              }
              &::-webkit-scrollbar-thumb{
                background-color: $terminal-green;
              }
              &::-webkit-scrollbar-corner{
                background-color: $terminal-black;
                
              }
              &::-webkit-resizer{
                background-color: $terminal-black;
                
              }


            }
            button{
              background: transparent;
              color: white;
              border: none;
              cursor: pointer;
              font-family: 'Inconsolata', monospace;
              border: 1px solid white;
              padding-top: 0.5em;
              padding-bottom: 0.5em;
            }
          }
        }
      }
    }
    #terminalEditor{
      max-height:200px;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    .pointer{
        display: inline-block;
        background-color: $terminal-white;
        width: 7px;
        height: 15px;
        animation: blink-animation 1s steps(2, start) infinite;
    }
    .about-page{
      display: flex;
      justify-content: space-between;
      padding: 2rem 2rem;
      &>div>h2{
        margin-bottom: 1rem;
      }
    }
    #skills{
      flex-basis: 35%;
      h2{
        text-align: right;
      }
      .skill-box{
        display:flex;
        align-items: center;
        &:hover{
          .skill-left-fill::after{
            left: 0;
            background-color:  $terminal-black;
            animation: left-to-right 1s;
          }
          .skill-right-fill::after{
            right: 0;
            background-color:  $terminal-black;
            animation: right-to-left 1s;
          }
        } 
        div{
          &.skill-left-fill,
          &.skill-right-fill{
            background-color: $terminal-white;
            flex-basis: 40%;
            height: 1rem;
            position: relative;
            &::after{
              content: "";
              height: 1rem;
              position: absolute;
              width:5px;
              background-color: transparent;
            }
          }
          
          &:first-child,&:last-child{
            font-size: 2rem;
            padding-bottom: 8px;
          }
          &.skill-text{
            padding-left: 10px;
            padding-right: 10px;
            color: $terminal-green;
          }
        }
      }
    }
    #welcome-container,
    #projects-container{
      justify-content: center;
      &>div{
        text-align: center;
      }
    }
    #welcome-container{
      height:100vh;
    }
    #projects-container>div{
      display: flex;
      span{
        font-size: 2rem;
        &.pointer{
          height:2rem;
          background-color:$terminal-green
        }
      }
    }
    .intro-titles{
      h3{
        color: rgb(153,153,153);
      }
    }
    #command-line{
      width: 100%;
      height: 100px;
      border-top: $terminal-white 1px solid;
      position: fixed;
      bottom: 0;
      left: 0;
      textarea{
        border: none;
        background-color: rgb(30,30,30);
        color: $terminal-white;
        outline: none;
        font-family: 'Inconsolata', monospace;
        font-size: 1em;
        &:focus,&:active{
          border: none;
          outline: none;
        }
      }
    }
    nav{
      width: 100%;
      display: flex;
      border-bottom: rgba(244,244,244) solid 1px;
      justify-content: flex-end;
      a{
        text-decoration: none;
        padding: 1em 1.5em;
        color: $terminal-white;
        &::after{
          content:"";
          display: inline-block;
        }
        &.active{
          color: $terminal-green!important;
          &::after{
            @include pointer();
          }
        }
        &:visited{
          color: $terminal-white;
        }
        &:hover{
          &::after{
            @include pointer();
          }
        }
      }
    }
    
    section.home-intro{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      &>div{
        width: 50%;
      }
      & *{
        text-align: center;
      }
      & img{
        flex-basis: 25%;
        filter:grayscale(100%);
        border-radius:30px;
        margin: 10px;

      }
      &>div{
        flex-grow: 2;
      }
    }

    section.building{
      display: flex;
      align-items: center;
      
      p{
        padding: 30px;
        flex-basis:50%;
        flex-grow:1;
      }
      div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow:1;
        flex-basis:50%;
        a{
          padding: 5px 10px;
          margin: 20px 0;
          color: $terminal-white;
          text-decoration: none;
          div{
            display:block;
            &:nth-child(2){
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              p{
                padding: 0;
                &:not(.side){
                  flex-basis: 99%;
                  flex-grow: 2;
                  text-align: center;
                }
                &.side{
                  flex-shrink: 2;
                }
                &.side:last-child{
                  text-align: right;
                }
              }
            }
          }
          span{
            display: none;
          }
          &:hover span{
            display: inline-block;
            
          }
        }
      }
    }
    
}

.scale-out-horizontal {
	-webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@media screen and (max-width: 1200px) {
  #home{
    .building{
      flex-direction: column;
    }
  }
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

/* ----------------------------------------------
 * Generated by Animista on 2023-2-3 23:8:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
}
@keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
}

@keyframes left-to-right{
  0%{
    left:0
  }
  100%{
    left:100%
  }
}
@keyframes right-to-left{
  0%{
    right:0
  }
  100%{
    right:100%
  }
}
