$terminal-white: rgb(244,244,244);
@mixin pointer(){
  content:"";
  float: right;
  display: inline-block;
  background-color: $terminal-white;
  width: 7px;
  height: 15px;
  animation: blink-animation 1s steps(2, start) infinite;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(30,30,30);
    color: $terminal-white;
    font-family: 'Inconsolata', monospace;
    .pointer{
        display: inline-block;
        background-color: $terminal-white;
        width: 7px;
        height: 15px;
        animation: blink-animation 1s steps(2, start) infinite;
    }
    #welcome-container{
      display: flex;
      align-items: center;
      height: 100vh;
      justify-content: center;
      &>div{
        text-align: center;
      }
    }
    .intro-titles{
      h3{
        color: rgb(153,153,153);
      }
    }
    #command-line{
      width: 100%;
      height: 100px;
      border-top: $terminal-white 1px solid;
      position: fixed;
      bottom: 0;
      left: 0;
      textarea{
        border: none;
        background-color: rgb(30,30,30);
        color: $terminal-white;
        outline: none;
        font-family: 'Inconsolata', monospace;
        font-size: 1em;
        &:focus,&:active{
          border: none;
          outline: none;
        }
      }
    }
    nav{
      width: 100%;
      display: flex;
      border-bottom: rgba(244,244,244) solid 1px;
      justify-content: flex-end;
      a{
        text-decoration: none;
        padding: 1em 1.5em;
        color: $terminal-white;
        &::after{
          content:"";
          display: inline-block;
        }
        &.active{
          &::after{
            @include pointer();
          }
        }
        &:visited{
          color: $terminal-white;
        }
        &:hover{
          &::after{
            @include pointer();
          }
        }
      }
    }
    
    section.home-intro{
      display: flex;
      flex-direction: row;
      align-items: center;
      &>*{
        text-align: center;
      }
      &>img{
        flex-grow: 1;
      }
      &>div{
        flex-grow: 2;
      }
    }

    section.building{
      display: flex;
      align-items: center;
      
      p{
        padding: 30px;
        flex-grow: 1;
      }
      div{
        display: flex;
        flex-direction: column;
        align-items: space-around;
        flex-grow: 3;
        a{
          padding: 5px 10px;
          margin: 20px 0;
          color: $terminal-white;
          text-decoration: none;
          span{
            display: none;
          }
          &:hover span{
            display: inline-block;
            
          }
        }
      }
    }
    
}

.scale-out-horizontal {
	-webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

/* ----------------------------------------------
 * Generated by Animista on 2023-2-3 23:8:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
}
@keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
}
