* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.aboutText {
  width: 50%;
  /*margin-left: 10px;
  margin-top: 10px;*/
}
.aboutText p > b {
  /* color: rgb(25,156,92); */
  color: #14d276;
}

body {
  background-color: #1e1e1e;
  color: #f4f4f4;
  font-family: "Inconsolata", monospace;
}
body .container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
body #terminalEditor {
  max-height: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
body .pointer {
  display: inline-block;
  background-color: #f4f4f4;
  width: 7px;
  height: 15px;
  animation: blink-animation 1s steps(2, start) infinite;
}
body .about-page {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}
body .about-page > div > h2 {
  margin-bottom: 1rem;
}
body #skills {
  flex-basis: 30%;
}
body #skills h2 {
  text-align: right;
}
body #skills .skill-box {
  display: flex;
  align-items: center;
}
body #skills .skill-box:hover .skill-left-fill::after {
  left: 0;
  background-color: #1e1e1e;
  animation: left-to-right 1s;
}
body #skills .skill-box:hover .skill-right-fill::after {
  right: 0;
  background-color: #1e1e1e;
  animation: right-to-left 1s;
}
body #skills .skill-box div.skill-left-fill, body #skills .skill-box div.skill-right-fill {
  background-color: #f4f4f4;
  flex-basis: 40%;
  height: 1rem;
  position: relative;
}
body #skills .skill-box div.skill-left-fill::after, body #skills .skill-box div.skill-right-fill::after {
  content: "";
  height: 1rem;
  position: absolute;
  width: 5px;
  background-color: transparent;
}
body #skills .skill-box div:first-child, body #skills .skill-box div:last-child {
  font-size: 2rem;
  padding-bottom: 8px;
}
body #skills .skill-box div.skill-text {
  padding-left: 10px;
  padding-right: 10px;
  color: #14d276;
}
body #welcome-container,
body #projects-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
body #welcome-container > div,
body #projects-container > div {
  text-align: center;
}
body #projects-container > div {
  display: flex;
}
body #projects-container > div span {
  font-size: 2rem;
}
body #projects-container > div span.pointer {
  height: 2rem;
  background-color: #14d276;
}
body .intro-titles h3 {
  color: #999999;
}
body #command-line {
  width: 100%;
  height: 100px;
  border-top: #f4f4f4 1px solid;
  position: fixed;
  bottom: 0;
  left: 0;
}
body #command-line textarea {
  border: none;
  background-color: #1e1e1e;
  color: #f4f4f4;
  outline: none;
  font-family: "Inconsolata", monospace;
  font-size: 1em;
}
body #command-line textarea:focus, body #command-line textarea:active {
  border: none;
  outline: none;
}
body nav {
  width: 100%;
  display: flex;
  border-bottom: #f4f4f4 solid 1px;
  justify-content: flex-end;
}
body nav a {
  text-decoration: none;
  padding: 1em 1.5em;
  color: #f4f4f4;
}
body nav a::after {
  content: "";
  display: inline-block;
}
body nav a.active::after {
  content: "";
  float: right;
  display: inline-block;
  background-color: #f4f4f4;
  width: 7px;
  height: 15px;
  animation: blink-animation 1s steps(2, start) infinite;
}
body nav a:visited {
  color: #f4f4f4;
}
body nav a:hover::after {
  content: "";
  float: right;
  display: inline-block;
  background-color: #f4f4f4;
  width: 7px;
  height: 15px;
  animation: blink-animation 1s steps(2, start) infinite;
}
body section.home-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body section.home-intro > * {
  text-align: center;
}
body section.home-intro > img {
  flex-basis: 25%;
  filter: grayscale(100%);
  border-radius: 30px;
  margin: 10px;
}
body section.home-intro > div {
  flex-grow: 2;
}
body section.building {
  display: flex;
  align-items: center;
}
body section.building p {
  padding: 30px;
  flex-basis: 50%;
  flex-grow: 1;
}
body section.building div {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  flex-grow: 1;
  flex-basis: 50%;
}
body section.building div a {
  padding: 5px 10px;
  margin: 20px 0;
  color: #f4f4f4;
  text-decoration: none;
}
body section.building div a span {
  display: none;
}
body section.building div a:hover span {
  display: inline-block;
}

.scale-out-horizontal {
  -webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-3 23:8:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-out-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
}
@keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
}
@keyframes left-to-right {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes right-to-left {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
